<%- include("../partials/head", { title: "détail de mission" }) %>
<%- include("../partials/header") %>

<div class="container">
    <h1>Détail de la Mission</h1>
    <div class="mission-card">
        <h2><%= wantedmission.titre %></h2>
        <p class="mission-description"><%= wantedmission.decription %></p>
        
        <div class="mission-info">
            <p><strong>Type:</strong> <%= wantedmission.type %></p>
            <p><strong>Date début:</strong> <%= wantedmission.date_debut %></p>
            <p><strong>Salaire:</strong> <%= wantedmission.salaire_net %> <%= wantedmission.unité_salaire %></p>
        </div>
        
        <div class="skills-container">
            <p><strong>Compétences :</strong></p>
            <ul class="skills-list">
                <% wantedmission.skills.forEach(skill => { %>
                    <li class="skill-tag"><%= skill %></li>
                <% }) %>
                <a href="http://localhost:3001/" class="button">Effacer la mission</a>
            </ul>
        </div>
    </div>
</div>