<%- include("../partials/head", { title: "liste des missions" }) %>
<%- include("../partials/header") %> 

<h1>Liste des missions</h1>

<ul>
  <% missions.forEach(mission => { %>
    <li>
      <h2><%= mission.titre %></h2>
      <p><%= mission.description %></p>
      <p>Type: <%= mission.type %></p>
      <p>Date début: <%= mission.date_debut %></p>
    </li>
  <% }) %>
</ul>

<%- include("../partials/footer") %>
